<%- include ('partials/header') %>

<h2>Édition d'un patient (<%= patient.fullName %>)</h2>
<form action="" method="post" class="container">

  <%- include ('partials/patientFormFields')%>

  <button type="submit">Sauvegarder les modifications</button>

  <% if (typeof feedbackMessage !== 'undefined') { %>
    <mark><%= feedbackMessage %></mark>
  <% } %>

</form>

  <%- include ('partials/footer') %>