<%- include ('partials/header') %>

  <main>
    <h2>Journaux alimentaires</h2>
    <table>
      <thead>
        <td>Date de dernière mise à jour</td>
        <td>Date de création</td>
        <td>Patient</td>
        <td>Âge du patient (au moment du journal)</td>
        <td>Poids du patient (au moment du journal)</td>
      </thead>
      <tbody>
        <% for (journal of journals) { %>
          <tr>
            <td>
              <%= journal.updated_at %>
            </td>
            <td>
              <%= journal.created_at %>
            </td>
            <td>
              <%= journal.patient.fullNameAndGender %>
            </td>
            <td>
              <%= journal.patient_age %>
            </td>
            <td>
              <%= journal.patient_weight %>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </main>

  <%- include ('partials/footer') %>