<%- include ('partials/header') %>

<h2>Journal alimentaire</h2>
<p>Création : <%= journal.created_at %></p>
<p>Mise à jour : <%= journal.updated_at %></p>
<% for (let d=0 ; d < journal.days.length ; d++) {
  day = journal.days[d]; %>
  <section>
    <hgroup>
      <h3>Jour <%= d+1 %><% if (day.name) { %> (<%= day.name %>)<% } %></h3>
      <details>
        <summary>Détails des apports</summary>
        <%- include('partials/nutrients', { nutrients: day.nutrients }) %>
      </details>
    </hgroup>
  <% for (meal of day.meals) { %>
    <hgroup>
      <h4>Repas de <%= meal.time %></h4>
    </hgroup>
    <% for (dish of meal.dishes) { %>
      <hgroup>
        <p><%= dish.position %>. <% if (dish.food) { %> <%= dish.food.name_fr %> (<%= dish.amount %>g) <% } %></p>
      </hgroup>
    <% } %>
  <% } %>
  </section>
<% } %>

  <%- include ('partials/footer') %>