<%- include ('partials/header') %>

  <main class="container">
    <h2>
      <%= patient.fullName %>
    </h2>

    <h3>Sexe</h3>
    <p>
      <%= patient.gender %>
    </p>

    <h3>Date de naissance</h3>
    <p>
      <%= patient.birth_date %>
    </p>

    <a href="/journals?patient=<%= patient.id %>">
      <p>Voir les journaux du patient</p>
    </a>

    <a href="/patient/delete/<%= patient.id %>">
      <p>Supprimer le patient</p>
    </a>

  </main>

  <%- include ('partials/footer') %>